<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Cms\Block\Page">
        <plugin name="apexia_home_tailwind_css"
                type="Apexia\HyvaCmsStyles\Plugin\Cms\InjectHomeTailwindCssPlugin"
                sortOrder="10"/>
    </type>

</config>
